.main-map {
	width:100%;
	height: calc(100% - 110px);
	position:absolute;
	top: 50px;
	overflow:hidden;
	padding:0;
}
	
#main-carousel {
	width:100%;
	height: calc(100% - 110px);
	position:absolute;
	top: 50px;
	overflow:hidden;
	padding:0;
}

.carousel-inner, .item {
	height: 100%;
}